* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'rubik';
    src: url(font/Rubik.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'rubik';
    src: url(font/Rubikmedium.woff);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'mulish';
    src: url(font/Mulish-Regular.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'mulish';
    src: url(font/Mulish-SemiBold.woff);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'mulish';
    src: url(font/Mulish-Bold.woff);
    font-style: normal;
    font-weight: 700;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.header_top_bar {
    background: #7AC751;
    margin-bottom: 24px;
}

.welcome {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.header_top_bar_content {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.chose_lang-login {
    display: flex;
    gap: 42px;
}

select {
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    outline: none;
    color: white;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

option {
    color: #222222;
}

.login {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
    position: relative;
}

.login::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 19px;
    background: white;
    top: 0px;
    left: -21px;
}


.header_logo_search_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.header_search {
    display: flex;
    align-items: center;
}

.search_input {
    min-width: 528px;
    height: 42px;
    border: 2px solid #7AC751;
    border-radius: 8px 0px 0px 8px;
    padding-left: 24px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B0B0B0;
    outline: none;
    transition: ease 0.3s;
}

.search_input:hover {
    border: 2px solid #77DB41;
}

.header_search_button {
    width: 56px;
    height: 46px;
    background: #7AC751;
    border: none;
    border-radius: 0px 7px 6px 0px;
    background-image: url(img/search_icon.svg);
    background-position: center center;
    background-repeat: no-repeat;
    transition: ease 0.2s;
    cursor: pointer;
}

.header_search_button:hover {
    background: #77DB41;
    background-image: url(img/search_icon.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.header_links {
    display: flex;
    gap: 16px;
}


.header_links_item svg {
    fill: #555555;
    transition: ease 0.2s;
}

.header_links_item svg:hover {
    fill: #7AC751;
}

body>header>div.header_logo_search_links.container>div.header_links>a:nth-child(3) {
    position: relative;
}

.in_cart_counter {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 10px;
    color: #FFFFFF;
    background: #7AC751;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.top_content_nav_button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 260px;
    height: 67px;
    border: none;
    background: #7AC751;
    padding: 0px 30px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    transition: ease 0.3s;
}

.top_content_nav_button:hover {
    background: #77DB41;
}

.top_content_nav_li {
    padding: 10px 10px 10px 30px;
    background: #F7F8FA;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #E3E3E3;
    width: 260px;
    box-sizing: border-box;
    transition: ease 0.3s;
    cursor: pointer;
}

.top_content_nav_li:hover {
    background: #dddddd;
}

.top_content {
    display: flex;
    margin-bottom: 80px;
}

.top_content_hero_navlinks {
    max-height: 67px;
    box-sizing: border-box;
    padding: 25px 0 24px;
}

.top_content_hero_navlinks ul {
    display: flex;
    justify-content: end;
    gap: 60px;
}

.top_content_navlinks_item a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    transition: ease 0.3s;
}

.top_content_navlinks_item a:hover {
    color: #77DB41;
}

.top_content_nav_item {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #555555;
}

.top_content_hero {
    background: linear-gradient(103.4deg, rgba(241, 250, 255, 0.88) 0.89%, #F1FAFF 101.61%);
    backdrop-filter: blur(155px);
    width: 910px;
    height: 433px;
    display: flex;
    box-sizing: border-box;
    padding: 32px;
    align-items: center;
    justify-content: space-between;
}

.top_content_hero_subheader1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #7AC751;
    margin-bottom: 16px;
}

.top_content_hero_header {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #2F2F2F;
    max-width: 308px;
    margin-bottom: 16px;
    position: relative;
}

.top_content_hero_header::after {
    content: url(img/border_hero_title.png);
    position: absolute;
    top: 59px;
    left: 132px;
}

.top_content_hero_subheader2 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 26px;
    color: rgba(81, 81, 81, 0.71);
    margin-bottom: 32px;
}

.top_content_hero_button {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #7AC751;
    border-radius: 4px;
    padding: 10px 18px;
    border: none;
    transition: ease 0.3s;
    cursor: pointer;
}

.top_content_hero_button:hover {
    background: #77DB41;
}

.top_content_hero_subhero {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.top_content_hero_subhero_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 20px;
    background: white;
    border-radius: 8px;
    gap: 4px;
    transition: ease 0.3s;
    cursor: pointer;
}

.top_content_hero_subhero_item:hover {
    box-shadow: 0px 0px 44px rgba(122, 199, 81, 0.3);
}

.top_content_hero_subhero_item_img {
    max-width: 50px;
    max-height: 50px;
}

.top_content_hero_subhero_item_price {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #7AC751;
}

.dollar {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 7px;
    line-height: 8px;
    color: #7AC751;
}

.top_content_hero_subhero_item_name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 7px;
    line-height: 8px;
    color: #555555;
    min-width: 58px;
}

.advantages {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.advantages_item {
    display: flex;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
    padding: 16px;
    background: white;
    border-radius: 8px;
    cursor: pointer;
}

.advantages_item svg {
    fill: #7AC751;
}

.advantages_item:hover {
    outline: 2px solid #7AC751;
}


.advantages_item_text_header {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #555555;
}

.advantages_item_text_span {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #838383;
}

.offer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.offer_item1,
.offer_item2,
.offer_item3 {
    padding: 40px;
    box-sizing: border-box;
}

.offer_item1 {
    min-width: 669px;
    min-height: 511px;
    background: url(img/service_img1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.offer_item2 {
    min-width: 485px;
    min-height: 247px;
    background: url(img/service_img2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.offer_item3 {
    min-width: 485px;
    min-height: 247px;
    background: url(img/service_img3.png);
    background-repeat: no-repeat;
    background-position: center;
}

.offer_items_container {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.offer_item_header {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #555555;
    margin-bottom: 12px;
}

.offer_item_subheader {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #7AC751;
    gap: 6px;
    margin-bottom: 16px;
}

.offer_item_button,
.newcollection_item_button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #757575;
    cursor: pointer;
    transition: ease 0.3s;
}

.offer_item_button:hover {
    color: #77DB41;
}

.offer_item_button svg {
    fill: #757575;
    transition: ease 0.3s;
}


.offer_item_button:hover svg {
    fill: #77DB41;
}

.trending {
    margin-bottom: 120px;
}

.trending_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 80px;
}

.trending_header_h2,
.special_offer_header_h2,
.ourproducts_header_h2,
.feedback_header_h2,
.newcollection_header_h2 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #555555;
    text-transform: uppercase;
}

.trending_header_nav,
.ourproducts_header_nav {
    display: flex;
    gap: 70px;
}

.trending_header_nav_item,
.ourproducts_header_nav_item {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #C2C2C2;
    transition: ease 0.3s;
}

.trending_list,
.ourproducts_list {
    gap: 30px;
    row-gap: 40px;
    display: flex;
    flex-wrap: wrap;
}

.trending_list_item {
    max-width: 269px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
}

.trending_header_nav_item:hover {
    color: #7AC751;
}

.trending_list_item_image {
    position: relative;
}

.trending_list_item_image_tag_new {
    background: #00B7F1;
    border-radius: 0px 0px 5px 0px;
    position: absolute;
    width: 42px;
    height: 19px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding: 2px 8px 2px 8px;
    color: #FFFFFF;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
}

.trending_list_item_image_tag_sale {
    background: #7AC751;
    border-radius: 0px 0px 5px 0px;
    position: absolute;
    width: 42px;
    height: 19px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding: 2px 8px 2px 8px;
    color: #FFFFFF;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
}

.trending_list_item_image_tag_sale40-50 {
    background: #00B7F1;
    border-radius: 0px 0px 0px 5px;
    position: absolute;
    width: 61px;
    height: 19px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding: 2px 8px 2px 8px;
    color: #FFFFFF;
    box-sizing: border-box;
    top: 0px;
    right: 0px;
}

.trending_list_item_image_tag_sale30 {
    background: #FF6868;
    border-radius: 0px 0px 5px 0px;
    position: absolute;
    width: 47px;
    height: 19px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding: 2px 8px 2px 8px;
    color: #FFFFFF;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
}

.trending_list_item_image_buttons {
    display: none;
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.image_buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.trending_list_item_image:hover .trending_list_item_image_buttons {
    display: block;
}

.icon_container {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.icon_container svg {
    fill: #757575;
}

.icon_container:hover svg {
    background-color: #7AC751;
    fill: white;
    border-radius: 50%;
}

.trending_list_item_category {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.008em;
    text-transform: uppercase;
    color: rgba(117, 117, 117, 0.71);
}

.trending_list_item_name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #555555;
}

.trending_list_item_price-rate {
    display: flex;
    justify-content: space-between;
}

.trending_list_item_price {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #7AC751;
}

.trending_list_item_price span {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-decoration-line: line-through;
    color: #CCCCCC;
    margin-left: 16px;
}

.special_offer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
}

.special_offer_container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.special_offer_container_item1,
.special_offer_container_item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 32px;
    min-width: 570px;
    min-height: 249px;
    background-image: url(img/bacground_special_ofer_item1.png);
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
}

.special_offer_container_item2 {
    background-image: url(img/bacground_special_ofer_item2.png);
}

.special_offer_header_h2 {
    margin-bottom: 60px;
}

.special_offer_container_item_h3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #555555;
    margin-bottom: 8px;
}

.special_offer_container_item_p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #757575;
    margin-bottom: 24px;
    max-width: 227px;
}

.special_offer_container_item_price-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    max-width: 249px;
}

.special_offer_container_item_price {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #7AC751;
}

.special_offer_container_item_price span {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    text-decoration-line: line-through;
    color: #CCCCCC;
    margin-left: 8px;
}

.special_offer_container_item_button {
    background: #7AC751;
    border-radius: 4px;
    padding: 10px 18px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    transition: ease 0.3s;
}

.special_offer_container_item_button:hover {
    background: #77DB41;
}


.special_offer_container_item_time {
    display: flex;
    gap: 16px;
}

.days,
.hours,
.min,
.sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 8px 12px;
    background: #7AC751;
    color: white;
    border-radius: 20px;
    box-sizing: border-box;
}

.count {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 7px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.ourproducts {
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourproducts_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.ourproducts_header_h2 {
    margin-bottom: 45px;
}

.ourproducts_header_nav_item:hover {
    color: #7AC751;
}

.ourproducts_list_button {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    padding: 10px 18px;
    background: #7AC751;
    border-radius: 4px;
    border: none;
    margin-top: 80px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    transition: ease 0.3s;
}

.ourproducts_list_button:hover {
    background: #77DB41;
}

.feedback {
    display: flex;
    flex-direction: column;
    gap: 90px;
    align-items: center;
    margin-bottom: 120px;
}

.arrow_right {
    transform: rotate(180deg);
    fill: #CCCCCC;
    transition: ease 0.3s;
    cursor: pointer;
}

.arrow_left {
    fill: #CCCCCC;
    transition: ease 0.3s;
    cursor: pointer;
}

.arrow_left:hover {
    fill: #7AC751;
}

.arrow_right:hover {
    fill: #7AC751;
}

.feedback_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 52px;
}

.feedback_content_text {
    background: #F8FAFB;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    max-width: 816px;
    padding: 0 125px 47px 125px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback_content_text img {
    margin-top: -40px;
    margin-bottom: 32px;
}

.feedback_content_text_p {
    margin-bottom: 32px;
    max-width: 586px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #515151;
}

.feedback_content_text_name {
    margin-bottom: 8px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #555555;
}

.feedback_content_text_position {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #515151;
}

.newcollection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.newcollection_header_h2 {
    margin-bottom: 80px;
}

.newcollection_list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 24px;
}

.newcollection_list_item {
    min-width: 569px;
    min-height: 455px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    cursor: pointer;
    transition: ease 0.4s;
    position: relative;
}

.newcollection_list_item_image {
    border-radius: 8px;
    transition: ease 0.3s;
}

.newcollection_list_item:hover img {
    filter: brightness(60%);
}

.newcollection_list_item_content {
    position: absolute;
    left: 32px;
    bottom: 32px;
}

/* .newcollection_list_item1,
.newcollection_list_item2,
.newcollection_list_item3,
.newcollection_list_item4 {
    padding: 32px;
    box-sizing: border-box;
    min-width: 569px;
    min-height: 455px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    cursor: pointer;
    transition: ease 0.4s;
    border-radius: 8px;
}

.newcollection_list_item1 {
    background-image: url(img/back_new_collection_article1.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.newcollection_list_item2 {
    background: url(img/back_new_collection_article2.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.newcollection_list_item3 {
    background: url(img/back_new_collection_article3.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.newcollection_list_item4 {
    background: url(img/back_new_collection_article4.png);
    background-position: center;
    background-repeat: no-repeat;

} */

.newcollection_list_item_label {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.newcollection_list_item_label_a {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 2px 6px 2px 2px;
    background-color: white;
    border-radius: 4px;
}

.newcollection_list_item_label_span {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #7AC751;
}

.newcollection_list_item_date {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.newcollection_list_item_header {
    margin-bottom: 16px;
    max-width: 420px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 49px;
    color: #FFFFFF;
}

.newcollection_item_button {
    color: white;
}

.newcollection_item_button svg {
    fill: white;
    transition: ease 0.3s;
}

.newcollection_item_button:hover {
    color: #77DB41;
}

.newcollection_item_button:hover svg {
    fill: #77DB41;
}

footer {
    background: #EBEBEB;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_content {
    display: flex;
    margin-bottom: 57px;
    align-items: center;
    gap: 315px;
}

.footer_content_logo {
    max-width: 320px;
}

.footer_content_text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #555555;
    margin: 32px 0;
}

.footer_content_social {
    display: flex;
    gap: 12px;
}

.footer_content_social svg {
    fill: #555555;
    background-color: #EBEBEB;
    border-radius: 16px;
    transition: ease 0.3s;
}

.footer_content_social svg:hover {
    fill: #222222;
    background-color: #ffffff;

}

.footer_content_colums {
    display: flex;
    gap: 80px;
}

.footer_content_colums_item_header {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #555555;
}

.footer_content_colums_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_content_colums_item_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer_content_colums_item_list_link a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #555555;
}

.footer_content_right {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    margin-bottom: 25px;
    position: relative;
}